<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>姓名案例-插值</title>
    <script type='text/javascript' src='../js/vue.js'></script>
</head>
<body>
    <div id='box'>
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="lastName"><br>
        <!-- .slice(0,3) 只取第0位到第三位的值 -->
        姓名：<span>{{fullName}}</span>
    </div>
    <script type='text/javascript'>
        Vue.config.porductionTip = false;
        const vm = new Vue({
            el:'#box',
            data:{
                firstName:'张',
                lastName:'三'
            },
            computed:{
                fullName:{
                    // 当有人读取fullName时 get就会被调用 且返回值就作为fullName的值
                    // get 什么时候调用 1. 初次读取fullName时 2. 所依赖的数据发生变化时
                    get(){
                        console.info('调用了get')
                        // 此处this是vm
                        return this.firstName + '-'+ this.lastName
                    },
                    // set 什么时候调用 当fullName被修改时
                    set(value){
                        // console.log(1234567890,value);
                        const arr = value.split('-');
                        this.firstName = arr[0]
                        this.lastName = arr[1]

                    }
                }
            }
        })
    </script>
</body>
</html>