<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>姓名案例-插值</title>
    <script type='text/javascript' src='../js/vue.js'></script>
</head>
<body>
    <div id='box'>
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="lastName"><br>
        姓名：<span>{{fullName}}</span>
    </div>
    <script type='text/javascript'>
        Vue.config.porductionTip = false;
        const vm = new Vue({
            el:'#box',
            data:{
                firstName:'张',
                lastName:'三'
            },
            computed:{
                // 完整写法
                // fullName:{
                //     get(){
                //         console.info('调用了get')
                //         return this.firstName + '-'+ this.lastName
                //     },
                //     set(value){
                //         const arr = value.split('-');
                //         this.firstName = arr[0]
                //         this.lastName = arr[1]
                //     }
                // }

                // 简写
                fullName(){
                    console.info('调用了get')
                    return this.firstName + '-'+ this.lastName
                }
            }
        })
    </script>
</body>
</html>